/* Customize your main colors in :root variables */
:root {
  --main-background-color: #161616;
  --card-background-color: #000;
  --card-background-lighter-color: #ccc;
  --main-text-color: #f7f6f4;
  --title-text-color: gold;
  --heading-text-color-1: #000;
  --heading-text-color-2: rgb(38, 159, 228);
  --heading-text-color-3: rgb(163, 28, 10);
  --heading-text-color-4: gold;
}

body {
  /* background-color: var(--main-background-color); */
  background: url('img/background.png');
  background-size: cover; 

  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: #FFFFFF;
}

code {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}
